{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false
}